importFrom("graphics", "lines", "title")
importFrom("methods", "new")
importFrom("stats", "pnorm", "rnorm")
exportClasses(ParamsScenarios)
exportClasses(Scenarios)
export("rShortRate",
"rStock",
"rRealEstate",
"rLiquiditySpread",
"rDefaultSpread",
"rAllRisksFactors",
"rAssetDistribution")
exportMethods("setParamsBaseScenarios",
"setRiskParamsScenarios",
"setRiskParamsScenariosrt",
"setRiskParamsScenariosS",
"setRiskParamsScenariosRE",
"setRiskParamsScenariosliqSpr",
"setRiskParamsScenariosdefSpr",
"setForwardRates",
"setZCRates",
"getParamsBaseScenarios",
"getRiskParamsScenarios",
"getRiskParamsScenariosrt",
"getRiskParamsScenariosS",
"getRiskParamsScenariosRE",
"getRiskParamsScenariosliqSpr",
"getRiskParamsScenariosdefSpr",
"getForwardRates",
"getZCRates",
"getShortRatePaths",
"getstockPaths",
"getrealEstatePaths",
"getLiquiditySpreadPaths",
"getdefaultSpreadPaths",
"customPathsGeneration",
"MartingaleTest",
"Asset_PriceDistribution",
"Bond_PriceDistribution",
"CDSPremium_PriceDistribution",
"ConvBond_PriceDistribution",
"CBond_PriceDistribution",
"EuroCall_Stock_PriceDistribution",
"EuroPut_Stock_PriceDistribution",
"EuroCall_ZC_PriceDistribution",
"EuroPut_ZC_PriceDistribution",
"ZCBond_PriceDistribution")
